.anchor {
    text-align: left;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    cursor: pointer;
  }
  
  .anchor.normal {
    width: 300px;
    height: 74px;
  }
  
  .anchor.compact {
    width: 156px;
    height: 136px;
  }
  
  .anchor.dark {
    background-color: #333;
  }
  
  .anchor:hover {
    background-color: #f5f5f5;
  }
  
  .anchor.disabled:hover {
    cursor: default;
    background-color: #fafafa;
  }
  
  .anchor.dark.disabled:hover {
    background-color: #333;
  }
  
  .anchor.dark:hover {
    background-color: #222;
  }
  
  .anchor-content {
    height: 100%;
  }
  
  .checkbox-wrapper {
    position: relative;
  }
  
  .normal .checkbox-wrapper {
    display: inline-block;
    height: 100%;
  }
  
  .compact .checkbox-wrapper {
    display: block;
    height: 60px;
    top: 0;
    left: 0;
  }
  
  .checkbox-container {
    position: relative;
    display: none;
    height: 100%;
  }
  
  .normal .checkbox-container {
    display: inline-block;
  }
  
  .compact .checkbox-container {
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
  }
  
  .checkbox-td {
    position: relative;
    display: table;
    top: 0;
    height: 100%;
  }
  
  .checkbox-tc {
    display: table-cell;
    vertical-align: middle;
  }
  
  .checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 15px;
  }
  
  .compact .checkbox {
    margin: 0 12px;
  }
  
  .checkbox:focus {
    border: 1px solid #00bcb7;
  }
  
  .checkbox:active {
    border: 1px solid #c5c5c5;
  }
  
  .checkbox.active {
    border-color: transparent;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .checkbox.checked {
    border-color: transparent;
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -2px;
    left: 5px;
    -webkit-animation: pop .4s linear;
    -moz-animation: pop .4s linear;
    -o-animation: pop .4s linear;
    animation: pop .4s linear;
  }
  
  .label-container {
    position: relative;
    display: none;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .normal .label-container {
    display: inline-block;
    width: 165px;
  }
  
  .compact .label-container {
    display: inline-block;
    max-width: 85px;
  }
  
  #checkbox-label {
    color: #555;
    font-size: 14px;
    cursor: pointer;
    height: 32px;
    width: auto;
    display: table-cell;
    vertical-align: middle;
  }
  
  .anchor.disabled #checkbox-label {
    cursor: default;
  }
  
  .dark #checkbox-label {
    color: #f1f1f1;
  }
  
  #config-error {
    top: 5px;
    left: 5px;
  }
  
  #config-warning {
    bottom: 5px;
    left: 5px;
    width: 75%;
  }
  
  .anchor.compact>#config-warning {
    bottom: 50px;
    width: 95%;
  }
  
  .warning {
    color: #fc481e;
    font-size: 10px;
    position: absolute;
  }
  
  .dark>.warning {
    color: #ff6c6c;
  }
  
  .logo-container {
    position: relative;
    vertical-align: top;
    display: none;
  }
  
  .normal .logo-container {
    display: inline-block;
    height: 74px;
  }
  
  .compact .logo-container {
    display: inline-block;
    width: 100%;
    top: 0;
  }
  
  .logo-link {
    display: block;
  }
  
  .compact .logo-link {
    margin: 0 auto;
    top: 0;
  }
  
  .logo {
    width: 43px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    top: 3px;
    margin: 0 auto;
  }
  
  .compact .logo {
    top: 0;
  }
  
  .terms-container {
    width: auto;
    font-size: 9px;
    color: #555;
  }
  
  .normal .terms-container {
    text-align: right;
    position: fixed;
    bottom: 5px;
    right: 15px;
  }
  
  .compact .terms-container {
    position: relative;
    bottom: -2px;
    right: auto;
  }
  
  .terms-container a {
    text-decoration: none;
    color: #555;
  }
  
  .compact .terms-container {
    text-align: center;
  }
  
  .terms-container a:hover,.terms-container a:focus {
    color: #43c2cc;
  }
  
  .dark .terms-container {
    color: #666;
  }
  
  .dark .terms-container a {
    color: #777;
  }
  
  @-webkit-keyframes pop {
    0% {
      transform: scale(0);
    }
  
    70% {
      transform: scale(1.8);
    }
  
    80% {
      transform: scale(.6);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @-moz-keyframes pop {
    0% {
      transform: scale(0);
    }
  
    70% {
      transform: scale(1.8);
    }
  
    80% {
      transform: scale(.6);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @-o-keyframes pop {
    0% {
      transform: scale(0);
    }
  
    70% {
      transform: scale(1.8);
    }
  
    80% {
      transform: scale(.6);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes pop {
    0% {
      transform: scale(0);
    }
  
    70% {
      transform: scale(1.8);
    }
  
    80% {
      transform: scale(.6);
    }
  
    100% {
      transform: scale(1);
    }
  }